<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="TestingSystemEntities" connectionString="metadata=res://*/TestingSystemModel.csdl|res://*/TestingSystemModel.ssdl|res://*/TestingSystemModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-PONF2P1\SQLEXPRESS;initial catalog=TestingSystem;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>